
@{
    ViewBag.Title = "Bigfoot";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Bigfoot</h2>

<h6 style="font-family:Arial">
    Bigfoot 
</h6>
<img src="~/Images/Bigfoot 14.jpg" />
<p style="font-family:Arial">
    Sasquatch, also called Bigfoot, (from Salish se’sxac: “wild men”) a large, hairy, humanlike creature believed by some people to exist in the northwestern United States and western Canada. It seems to represent the North American counterpart of the Himalayan region’s mythical monster, the Abominable Snowman, or Yeti.


</p>
<h6 style="font-family:Arial">
    Where is bigfoot
</h6>
<p style="font-family:Arial">
    Sasquatch is said to live in the northwestern United States and western Canada. Sightings have been claimed in forested areas.
</p>
<h6 style="font-family:Arial">
    How Tall is Bigoot
</h6>
<p style="font-family:Arial">
    Sasquatch is normally described as a bipedal primate that is anywhere from 6 to 15 feet (2 to 4.5 metres) tall. It is often said to give off a foul smell and either moves silently or emits a high-pitched cry. Alleged Sasquatch footprints have measured up to 24 inches (about 60 cm) long.
</p>
<h6 style="font-family:Arial">
    Who is Bigfoot !!!
</h6>
<p style="font-family:Arial">
    Some people credit the British explorer David Thompson with the first discovery of Sasquatch footprints, in 1811. Since then, several photographers and videographers have claimed to have seen Sasquatch, although none of their purported evidence has been verified.
    Sasquatch is variably described as a primate ranging from 6 to 15 feet (2 to 4.5 metres) tall, standing erect on two feet, often giving off a foul smell, and either moving silently or emitting a high-pitched cry. Footprints have measured up to 24 inches (60 cm) in length and 8 inches (20 cm) in width. A Soviet scientist, Boris Porshnev, suggested that Sasquatch and his Siberian counterpart, the Almas, could be a remnant of Neanderthals, but most scientists do not recognize the creature’s existence.
</p>
<img src="~/Images/Bigfoot 14.jpg" />