
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Home</h2>


<div class=" col-md-6">
    <h6 style="font-family:Arial">Welcome to Paranormal Facts</h6>
</div>

<div class="col-md-6">
    <a><img src="~/Images/Dracula 1.jpg" />
        </a>
    <h6 style="font-family:Arial">Here on Paranormal Facts you can learn about myths and legend from around the world.</h6>

    <p style="font-family:Arial">On this site you can read about the paranormal .</p>

    <h6>Read about your favourite paranormal topics</h6>
    <p>Enjoy our prictures and content posted here on Paranormal facts.</p>

    <h6>Read about Vampires and Werewolf</h6>
    <p>Read about Vampire sightings and werewolf sightings in this site.</p>
    <a>
        <img src="~/Images/Werewolf1.jpg" />
        </a>
</div>

