
@{
    ViewBag.Title = "UFOs";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>UFOs</h2>

<img src="~/Images/Area 51 4.jpg" />
<h6 style="font-family:Arial">
    Unidentified flying object (UFO)
</h6>

<h6 style="font-family:Arial">
    Whhat is a UFO ?
</h6>

<p style="font-family:Arial">
    Also called flying saucer, any aerial object or optical phenomenon not readily identifiable to the observer. UFOs became a major subject of interest following the development of rocketry after World War II and were thought by some researchers to be intelligent extraterrestrial life visiting Earth.
</p>

<h6 style="font-family:Arial">
    The History of UFO.
</h6>
<p style="font-family:Arial">
    The first well-known UFO sighting occurred in 1947, when businessman Kenneth Arnold claimed to see a group of nine high-speed objects near Mount Rainier in Washington while flying his small plane. Arnold estimated the speed of the crescent-shaped objects as several thousand miles per hour and said they moved “like saucers skipping on water.” In the newspaper report that followed, it was mistakenly stated that the objects were saucer-shaped, hence the term flying saucer.
</p>
<h6 style="font-family:Arial, Helvetica, sans-serif">
    What is Area 51 ?
</h6>
<p style="font-family:Arial, Helvetica, sans-serif">
    Area 51, secret U.S. Air Force military installation located at Groom Lake in southern Nevada. It is administered by Edwards Air Force Base in southern California. The installation has been the focus of numerous conspiracies involving extraterrestrial life, though its only confirmed use is as a flight testing facility
</p>
<img src="~/Images/Area 51 4.jpg" />