
@{
    ViewBag.Title = "Vampires";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Vampires</h2>
<img src="~/Images/Dracula 1.jpg" />
<h6 style="font-family:Arial">
    Vampires 
</h6>
<p style="font-family:Arial">
    Vampires are monsters in legends and stories. The first vampire stories were told in Eastern Europe, but much of how modern people see vampires was created by Bram Stoker in the famous novel, Dracula. Few people believe that vampires are real, but they are still very popular in movies, television, and books.
</p>
<h6 style="font-family:Arial">
    Here are some more facts about Vampires!!!!
</h6>
<p style="font-family:Arial">
    <h6 style="font-family:Arial">What is a Vampire ?</h6>
    Vampire, also spelled vampyre, in popular legend, a creature, often fanged, that preys upon humans, generally by consuming their blood. Vampires have been featured in folklore and fiction of various cultures for hundreds of years, predominantly in Europe, although belief in them has waned in modern times.

    <h6 style="font-family:Arial">Why is it believed that Vampires hate garlic?</h6>
    Many cultures have long believed in the extraordinary powers of garlic: from ancient Egypt to Romania, garlic has been used as a natural insect repellent, a natural antibiotic, and as protection against other preternatural evils. Modern belief in garlic’s curative powers against vampires likely comes from these more ancient beliefs.

    <h6 style="font-family:Arial">How did the legend of vampires originate?</h6>
    Creatures with vampiric characteristics have appeared at least as far back as ancient Greece, where stories were told of creatures that attacked people in their sleep and drained their bodily fluids. Tales of walking corpses that drank the blood of the living and spread plague flourished in medieval Europe in times of disease.
</p>
