
@{
    ViewBag.Title = "Werewolf";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Werewolf</h2>

<h6 style="font-family:Arial">What is a Werewolf ?</h6>
<p style="font-family:Arial">
    Werewolf is a mythical monster. It is a human who turns into a fearsome wolf-like creature during the full moon. There are characteristics that make werewolves special, and that allow a person to tell them apart from real wolves, such as the eyes, shape, and tail. When in human form, werewolves look and act like any normal human being, although they usually appear to be ill around nights when there is a full moon. When in wolf form, the werewolf does not keep the mind of the human, and it cannot resist attacking humans; the werewolf may attack their best friends. A werewolf can be killed with silver bullets. However, a werewolf cannot be killed by silver crosses or holy water, like vampires. When a werewolf dies, it turns back into a human.
</p>
<p style="font-family:Arial">
    Several ways for becoming a werewolf have been told about. One of the simplest is taking off all ones's clothes and putting on a belt made of wolf skin. Also wearing an entire animal skin is frequently described. In other cases, the body is rubbed with a magic ointment. Drinking rainwater out of the footprint of the animal was reported to work.
</p>
<p style="font-family:Arial">
    In Italy, France and Germany, it was said that a man or woman could turn into a werewolf if he or she, on a certain Wednesday or Friday, slept outside on a summer night with the full moon shining directly on his or her face.

    It is said that humans can be turned into werewolves by having been bitten by another werewolf.
</p>
<img src="~/Images/Werewolf1.jpg" />